
.seqContent
{
     
    position: absolute;
/* left:  calc(26vw );
    bottom: calc(0vh); */
    left:  calc(26vw );
bottom: calc(-0.5vh);
    align-items: center;
    

}

tone-step-sequencer {
        width: calc(40vw);
        height: calc(12.5vh);
        background-color: #efcfe3;

}


#pinao{

 position: absolute;
/*  left:calc(29vw );
    top: calc(27vh ); */

    left:calc(29vw );
    top: calc(27vh );
    align-items: center; 
}

#switch{
position: absolute;
left:  calc(20vw );
bottom: calc(25vh);
    
}
#tempo
{
position: absolute;
       
left:  calc(20vw );
bottom: calc(10vh);

}




.labels {
    font-size:12px;
    margin-left:-850px;
    line-height: 45px;
}
#auto
{
        position: absolute;
        left:  calc(20vw );
        top: calc(26vh);

}
#pre_perQuarter{
        position: absolute;
        right:  calc(20vw );
        top: calc(28vh); 
}
#pre_stepsNum
{
        position: absolute;
        right:  calc(22vw );
        top: calc(40vh); 
}
 #auto_test 
{
        position: absolute;
      
        left:  calc(20vw );
        top: calc(40vh);


}
#clean{
        position: absolute;
        right: calc(20vw);
        bottom: calc(25vh); 
}

#seqVolume{
        position: absolute;
        right: calc(20vw);
        bottom: calc(10vh);   
}

#example
{
        position: absolute;
      
        right: calc(1vh);
        top: calc(10vh);
     
}

#examplePredict
{
        position: absolute;
      
        right: calc(5vh);
        top: calc(20vh)  ;   
}

#jump
{
        position: absolute;
      
        right: calc(1vh);
        top: calc(1vh) 
}
#visual{
        position: absolute;
      
right: 20%;
        top: 70%;      
}

.bcg1{
        font-size: 40px;
  text-shadow: 0 0 2px rgb(253, 114, 242); 
  color: rgb(144, 210, 248);
  text-align: center;

}

