


.seqContent
{
     
    position: absolute;
    /* margin: 20px; */
    /* width: 1200px;
    height: 400px; */
    left:  calc(58vh );
    bottom: calc(5vh);
    align-items: center;
    /* width: calc(61vh );
    height: calc(40vh ); */

}

tone-step-sequencer {
        width: calc(70vh);
        height: calc(12.5vh);
}


#pinao{

 position: absolute;


    left:calc(61.5vh );
    top: calc(25vh );
    align-items: center; 
}

#switch{
position: absolute;
left:  calc(50vh );
bottom: calc(30vh);
    
}
#tempo
{
position: absolute;
       
left:  calc(50vh );
bottom: calc(15vh);
}

#auto
{
        position: absolute;
        left:  calc(50vh );
        top: calc(26vh);

}
#pre_perQuarter{
        position: absolute;
        right:  calc(46vh );
        top: calc(28vh); 
}
#pre_stepsNum
{
        position: absolute;
        right:  calc(50vh );
        top: calc(40vh); 
}
#auto_test
{
        position: absolute;
      
        left:  calc(50vh );
        top: calc(40vh);


}
#clean{
        position: absolute;
        right: calc(48vh);
        bottom: calc(30vh); 
}

#seqVolume{
        position: absolute;
        right: calc(48vh);
        bottom: calc(18vh);   
}

#example
{
        position: absolute;
      
        right: calc(1vh);
        top: calc(10vh);
     
}

#examplePredict
{
        position: absolute;
      
        right: calc(10vh);
        top: calc(20vh)  ;   
}

#jump
{
        position: absolute;
      
        right: calc(1vh);
        top: calc(1vh) 
}
#visual{
        position: absolute;
      
right: 20%;
        top: 70%;      
}

.bcg1{
        font-size: 40px;
  text-shadow: 0 0 2px rgb(253, 114, 242); 
  color: rgb(144, 210, 248);
  text-align: center;
}

/*


        https://coolors.co/e27396-ea9ab2-efcfe3-eaf2d7-b3dee2
         */